:root {
    --primary-color:#547f44;
    --secondary-color: #e7fcd8;
    --third-color: #989d96;
    --primary-backgroung-color: #f6fbf5;
    --primary-text-color: #51614b;
}


html, body {
    background-color: white;
    color: #B6BFB0;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100%;
    margin: 0;
    padding: 0;
}

main{
    top: 6%;
    bottom: 10%;
}

h2{
    color: var(--primary-color);
}

.h2-padding{
    padding-bottom: 20px;
}

.main-header{
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-evenly;
    height: 6%;
    position: absolute;
    width: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.top-left {
    position: absolute;
    left: 2%;
    top: 25%;
} 

.headerLogo {
    width: 200px;
}

.top-middle {
    position: absolute;
    display: flex;
    top: 25%;
}

.top-middle-a{
    color: var(--primary-color);
    padding: 0 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
}

.top-middle-a:hover{
    color: var(--primary-color);
    text-decoration: underline;
}

.top-right {
    position: absolute;
    right: 2%;
    top: 25%;
}

.top-right a{
    color: var(--primary-color);
    padding: 0 10px;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}
/* .links > a {
    color: #547f44;
    padding: 0 10px;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
} */

.home-background-main{
    position: absolute;
    width: 100%;
    top: 6%;
    bottom: 10%;
}

.home-background{
    height: 100%;
    background-size: cover;
    background-position: center; 
}

.home-text{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 40%;
    bottom: 40%;
    background-color: rgb(231,252,216, 0.2);
    padding: 5%;
}

.home-text p{
    text-align: center;
    margin: 0;
    line-height: normal;
    font-size: 30px;
}

footer{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 10%;
    box-shadow: 2px -2px 4px rgba(0, 0, 0, 0.2);
}

.copyright-wrapper{
    display: block;
    padding: 10px 0;
    text-align: center;
}

.about-wrapper{
    display: block;
    position: absolute;
    text-align: center;
    background-color: var(--primary-color);
    margin: 0 10%;
    color: var(--secondary-color);
    height: 100%;
    width: 80%;
}

.about-background{
    height: 25%;
    background-position: center;
    background-size: cover;
    margin: 2% 0;
}

.about-text{
    margin: 0 10%;
}

.about-text h3{
    text-transform: uppercase;
    padding: 10px 0;
    color: black;
    border-bottom: 3px solid black;
    margin: 20px;
}

.about-text p{
    padding-top: 20px;
    text-align: justify;
    color: black;
}

.contact-wrapper{
    display: block;
    position: absolute;
    text-align: center;
    background-color: var(--primary-color);
    margin: 0 10%;
    color: var(--secondary-color);
    height: 100%;
    width: 80%;
}

.contact-background{
    height: 25%;
    background-position: center;
    background-size: cover;
    margin: 2% 0;
}

.contact-text{
    margin: 0 10%;
}

.contact-text h3{
    text-transform: uppercase;
    padding: 10px 0;
    color: black;
    border-bottom: 3px solid black;
    margin: 20px;
}

.contact-text p{
    text-align: justify;
    color: black;
}

.google-map {
    padding-bottom: 50%;
    position: relative;
    text-align: left;
    margin: 0 10%;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.app-background-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app-background-image{
    height: 100%;
    background-size: cover;
    background-position: center; 
}

.login-background{

    width: 450px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(239,245,234, 0.95);
    color: var(--primary-text-color);
}

.card-header{
    font-size: 20px;
    text-align: center;
    padding-bottom: 15px;
    font-weight: 600;
}

.card-body-index{
    color: #000;
}

.card-body-additional-header{
    text-align: center;
    padding-bottom: 15px;
    margin-top: -10px;
}

.card-body-element{
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: flex-start;
    margin: auto;
}

.card-body-element-input{
    width: 100%;
}

.card-body-element-add{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 9%;
    flex-direction: column;
    align-items: flex-start;
}

.card-body-bottom-element{
    margin: auto;
    padding: 0 2%;
}

.login-btn{
    background-color: var(--primary-text-color);
    border-color: var(--primary-text-color);
    color: white;
}
.login-btn:hover,
.login-btn:active,
.login-btn:focus{
    color: var(--primary-text-color);
    background-color: white;
    border-color: var(--primary-text-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-link{
    color: var(--primary-text-color);
}
.btn-link:hover{
    color: var(--primary-text-color);
    text-decoration: underline;
}

.form-control:focus{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-color: var(--primary-color);
}


.web-body{
    background-color: var(--primary-backgroung-color);
    position: relative;
}

.web-yield-content{
    margin-left: 16rem;
    overflow: unset;
    width: calc(100% - 16rem);
    margin-top: 100px;
    position: relative;
    height: 100%;
}

.side-menu {
    padding: 20px;
    width: 16rem;
    background-color: var(--secondary-color);
    height: 100%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    align-items: flex-start;
    position: fixed;
    top: 0;
    box-shadow: 0 25px 35px #0000002e;
    z-index: 230;
}

.side-menu ul {
    list-style: none;
    padding: 0;
}

.side-menu ul li {
    margin-bottom: 10px;
}

.side-menu ul li a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
    letter-spacing: 1px;
    display: block;
}

.side-menu ul li a:active {
    font-weight: bold;
    color: #547f44;
    font-size: 17px;
    text-decoration: underline;
}

.side-menu-inside{
    display: flex;
    flex-direction: column;
}

.web-brand-logo{
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid var(--primary-color);
}

.web-Logo{
    width: 100%;
}

.web-topbar{
    top: 0;
    width: 100%;
    bottom: auto;
    position: fixed;
    max-height: 100px;
    font-weight: 300;
    z-index: 210;
}

.web-topbar-header{
    padding-left: calc(16rem + 48px);
    padding-right: 48px;
    height: 50px;
    display: flex;
    flex-flow: row;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: var(--primary-color);
}

.web-topbar-header-title{
    display: flex;
    min-width: 0;
    flex-basis: 70%;
    align-items: center;
}

.web-topbar-header-userarea{
    align-self: center;
    margin-left: auto;
    list-style-type: none;
}

.web-topbar-header-userarea li a{
    color: black;
}

.dropdown-main{
    border: solid 1px black;
    border-radius: 15px;
    padding: 5px 10px;
}

.dropdown-item{
    padding: 5px 10px;
}

.web-topbar-body{
    padding: 8px 48px;
    width: calc(100% - 16rem);
    margin-left: 16rem;
    box-sizing: border-box;
    min-height: 52px;
    background-color: white;
    border-bottom: 1px solid var(--primary-backgroung-color);
}

.web-child-content{
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-left: 48px;
    padding-right: 48px;
}

.dashboard-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    padding-top: 20px;
}

.dashboard-card{
    border: 1px solid white;
    height: 250px;
    margin: 20px 0;
    border-radius: 25px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    box-shadow: 0 15px 15px #0000002e;
}

.dashboard-card-body{
    display: flex;
}

.profile-container{
    padding: 1.5rem;
}

.profile-card{
    padding: unset;
    background-color: white;
    border-radius: 25px;
}

.profile-img{
    width: 100%;
    height: 100%;
}

.profile-edit-employee{
    display: flex;
    flex-direction: row;
}

.profile-edit-employee-navbar{
    width: 220px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.profile-edit-employee-imagesection{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.profile-edit-employee-tab{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    overflow: visible;
    padding-bottom: unset;

}

.profile-information{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.profile-information-header{
    text-align: center;
}

.profile-information-header h5{
    font-size: 20px;
    color: var(--primary-color);
    font-weight: 600;
    letter-spacing: 1px;
}

.profile-information-table{
    display: flex;
    padding: 20px;
}

.profile-information-row{
    display: table-row;
    color: black;
}

.profile-information-cell {
    display: table-cell;
    padding: 10px;
    border: none;
}

.profile-label {
    font-weight: bold;
}

.profile-information-text{
    display: flex;
    flex-direction: row;
    color: black;
    width: 48%;
    margin-bottom: 10px;
    align-items: center;
}

.profile-element-padding{
    padding: 5px;
}

.profile-label{
    font-weight: bold;
    margin-right: 10px;
}

.profile-eidt-employee-content{
    border-left: 1px solid var(--primary-backgroung-color);
    flex: 1;
    padding: 0 50px;
    width: 100%;
}

.profile-edit-employee-content-padding{
    display: flex;
    flex-direction: column;
}

.user-buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.user-button-inside{
    margin: 0 5px;

}

.card-body-layout-flex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.create-new-user-button{
    padding: 1.5rem 0;
}

.create-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;
}

.user-create-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.user-create-button-margin-left{
    margin-left: 5px;
}

.user-create-button-margin-right{
    margin-right: 5px;
}

.btn-primary{
    color: white;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover{
    color: var(--primary-color);
    background-color: var(--primary-backgroung-color);
    border-color: var(--primary-color);
}

.btn-primary-outline{
    background-color: rgba(81, 82, 83, 0.78);
    border-color: transparent;
    box-shadow: none;
    border-radius: 0;
    width: 250px;
}
.btn-primary-outline:hover{
    background-color: #5e5e5e;
}

.btn-secondary{
    color: white;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-secondary-outline{
    background-color: rgba(81, 82, 83, 0.78);
    border-color: transparent;
    box-shadow: none;
    border-radius: 0;
    width: 250px;
}
.btn-secondary-outline:hover{
    background-color: #5e5e5e;
}

.colleagues-card{
    min-width: fit-content;
}

.colleagues-card-bottom-margin{
    margin-bottom: 15px;
}

.colleagues-card-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid white;
    background-color: white;
    border-radius: 15px;
    height: 200px;
    padding: 15px;
    margin: 5px;
    color: var(--primary-text-color);
    box-shadow: 0 5px 15px #0000002e;
}

.colleagues-card-title{
    font-weight: 600;
    border-bottom: 1px solid var(--primary-text-color);
    width: 100%;
}

.colleagues-card-text{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.benefit-card-header{
    width: 100%;
}

.benefit-card{
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    border-radius: 15px;
    height: 375px;
    max-height: 375px;
    min-height: 375px;
    margin: 5px;
    color: var(--primary-text-color);
    box-shadow: 0 5px 15px #0000002e;
}

.benefit-img{
    width: 100%;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    max-height: 210px;
    min-height: 210px;
}

.benefit-card-bottom-margin{
    margin-bottom: 15px;
}

.benefit-card-body{
    padding: 10px;
    max-height: 110px;
    min-height: 110px;
}

.benefit-card-title{
    font-weight: 600;
    width: 100%;
}

.benefit-card-text{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.benefit-card-footer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    min-height: 55px;
    max-height: 55px;
    border: 1px solid var(--third-color);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: var(--third-color);
    color: white;
}

.benefit-show-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.benefit-show-picture{
    width: 100%;
}

.benefit-show-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 300px;
    border-radius: 5px;
}

.benefit-show-body{
    display: flex;
    flex-direction: row;
    padding-top: 40px;
}

.benefit-show-card-body{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    background-color: white;
    padding: 10px;
    height: 230px;
    border-radius: 15px;
    box-shadow: 0 5px 15px #0000002e;
    width: 250px;
}

.benefit-show-card-text{
    padding-top: 20px;
}

.benefit-show-card-intro{
    font-style: italic;
    color: var(--primary-text-color);
    font-weight: bold;
}

.benefit-show-card-content p{
    color: var(--primary-text-color);
}

.benefit-show-card-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefit-show-card-title{
    text-align: center;
    height: 130px;
}

.benefit-show-card-title h5 {
    font-weight: 600;
    font-size: 20px;
}

.benefit-show-card-price{
    padding: 0px 10px;
    text-align: center;
    height: 30px;
}

.benefit-show-button{
    text-align: center;
    height: 40px;
}


.hrr {
    height: 5px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8c8c inset;
    width: 100%;
}
.border{
    border: 1px solid lightgray;
    padding: 10px;
    color: black;
    font-weight: bolder;
}
.search{
    width: 75%;
    border: 0;
    border-bottom: 1px solid lightgray; !important;
    margin-left: 13%;
    margin-bottom: 3%;
}
.no-border{
    border: 0;
    outline: none;
    box-shadow: none; !important;
}
.styling{
    margin-left: 12%;
    padding: 0;
}
.footer_margin{
    background-color: #262626;
    width: 100%;
    height: 700px;
    padding: 50px;
}
.icon-small
{
    height:18px;
    margin:0;
    padding:0;
}

.icon-medium
{
    height:22px;
    margin:0;
    padding:0;
}

.dropdown:hover>.dropdown-menu{
    display: block;
}
.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.fa{
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa-facebook{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 5px;
    width: 25px;
    height: 25px;
}
.fa-twitter{
    background-color: transparent;
    color: white;
    padding: 5px;
}
.fa-instagram{
    background-color: transparent;
    color: white;
    width: 10px;
}
.con-first{
    width: 100%;
    margin-left: 0;
    font-family: "Roboto", serif;
}
.con-second{
    font-size: medium;
    font-family: "Roboto", serif;
    margin-left: 600px;
    margin-top: -180px;
}
.con-third{
    font-size: medium;
    font-family: "Roboto", serif;
    margin-left: 1000px;
    margin-top: -160px;
}
.btn-store{
    color: white;
    background-color: black;
    width: 170px;
    border: 1px solid white;
    border-radius: 4%; !important;
}
.btn-label,
.btn-caption{
    display: block;
    line-height: 1;
}
.btn-caption{
    font-size: 20px;
}
.mdi-36px {
    font-size: 35px;
}
.android-btn{
    width: 170px;
    background-color: #000;
    border-color: white;
}
.android-btn:hover{
    background-color: black;
    border-color: white;
    color: #5e5e5e;
}
.justify-content-between{
    display: flex;
    justify-content: space-between;
}

.card-st{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.m-b-md {
    margin-bottom: 30px;
}

.my-font {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.right {
    text-align: right;
}

